<% if @restaurant.errors.any? %>

  <div id="error-list">
    <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>

<%= form_for @restaurant do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :cuisine %>
  <%= f.text_field :cuisine, required: true %>

  <%= f.submit %>

<% end %>