<h1>Restaurants</h1>

<%= link_to "Add new restaurant", new_restaurant_path %>

<br>

<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |r| %>
      <li class="restaurant">
        <%= r.name %> (<%= r.cuisine %>) 
        <% if user_signed_in? %> ||
          <%= link_to "Review #{r.name}", new_restaurant_review_path(r.id) %> ||
          <%= link_to "Edit #{r.name}", edit_restaurant_path(r.id) %> ||
          <%= link_to "Delete #{r.name}", restaurant_path(r.id), method: :delete, "data-confirm" => 'Are you sure?' %> <br>
        <% end %>

        Average rating: 
        <span class="average_rating">
          <%= star_rating(r.average_rating) %>
        </span>
        
        <ul class="reviews">
          <% r.reviews.each do |review| %>
            <li>
              <%= review.thoughts %> (<%= star_rating(review.rating) %>)
            </li>
          <% end %>
        </ul>
        
        <% if user_signed_in? %>
          <%= form_for [r, @review] do |f| %>
            <%= f.label :thoughts %>
            <%= f.text_area :thoughts %>

            <%= f.label :rating %>
            <%= f.select :rating, 1..5 %>

            <%= f.submit %>
          <% end %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  There are no restaurants listed
<% end %>


