<h1>Restaurants</h1>

<a href="/restaurants/new">Add new restaurant</a>

<br>

<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |r| %>
      <li>
        <%= r.name %> (<%= r.cuisine %>) || <br>
        Average rating: <%= r.average_rating %>
        <%= link_to "Review #{r.name}", new_restaurant_review_path(r.id) %> || <br>
        <%= link_to "Edit #{r.name}", edit_restaurant_path(r.id) %> || <br>
        <%= link_to "Delete #{r.name}", restaurant_path(r.id), method: :delete, "data-confirm" => 'Are you sure?' %>
      
        <ul>
          <% r.reviews.each do |review| %>
            <li>
              <%= review.thoughts %> (<%= review.rating %>)
            </li>
          <% end %>
        </ul>

      </li>
    <% end %>
  </ul>
<% else %>
  There are no restaurants listed
<% end %>


